---
name: checks_build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  check-format:
    runs-on: ubuntu-latest
    permissions:
      contents: read # to fetch code (actions/checkout)
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Get all changed markdown files
        id: changed-markdown-files
        uses: tj-actions/changed-files@v42
        with:
          files: |
             **.md
          since_last_remote_commit: true
      - uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          config: .markdownlint-cli2.yaml
          globs: ${{ steps.changed-markdown-files.outputs.all_changed_files }}
          separator: ' '
      - name: Build
        uses: Tiryoh/actions-mkdocs@v0
        with:
          configfile: fmt/mkdocs/mkdocs.yml
